---
import Carousel from "./Slider.astro";
---

<section class="about" id="about">
    <h2 class="about-title">About us</h2>
    <p class="about-paragraph">
        Ecomarket is a Venezuelan company that seeks to revolutionize the market
        for online stores of high scope, our target are companies that require a
        complex and customized system but do not have too many resources to
        carry a long range online store project, in this way, Ecomarket provides
        small companies with a REST API that automates all the business logic of
        any online store, from basic local scope, to very complex online store
        with international reach.
    </p>
    <p class="about-paragraph">
        Our API works in a simple and practical way to simplify development for
        our customers, you only need to consume the API through a set of URLs
        provided by Ecomarket to access the functionality of our powerful API.
    </p>
    <p class="about-paragraph">
        We currently work with several companies to provide some of our
        services, from small local companies to large multinational companies
        from different countries around the world.
    </p>

    <h2 class="about-title">Allied brands</h2>
    <Carousel />
</section>

<style>
    .about {
        width: 90%;
        margin: 1rem auto;
    }

    .about-title {
        font-size: 2.5rem;
        padding: 2rem 0;
        text-align: center;
    }

    .about-paragraph {
        text-align: center;
        padding: 0.6rem 0.2rem;
    }
</style>
